// .navbar{
//     // border-bottom:1px solid rgba(128, 128, 128, 0.432);
//     box-shadow: 2px 2px 2px 2px whitesmoke;
//     //padding: 10px 0px 10px 0px;
//     width:100%;
// 	margin:0 auto;
// 	border:1px solid whitesmoke;
// 	top:0px;
// 	background-color:white;
// 	position:fixed;
// 	z-index:1;
//     .navbar-container{
//         width:80%;
//         display: flex;
//         margin: auto;
//         justify-content: space-between;
//         .nav-img-detail{
//             width: 25%;
//             display: flex;
//             .navbar-img img{
//                 margin-top: 6px;
//                 border-radius: 10px;
//             }
//         }
//         .shop{
//              padding: 25px 0px 0px 15px;
//             a{
//                 color: black;
//                 text-decoration: none;
//                 font-family: 'Courier New', Courier, monospace;
//                 i{
//                     color: gray;
//                     padding-left: 5px;
//                 }
//             }
//         }
//         .header-search{
//                 width:50%;
//                 display: flex;  
//                 margin-top: 20px;  
//             input {
//                 width:100%;
//                 height:30px;
//             }
//             a{
//                 color:rgb(108, 209, 56);
//                 border: 1px sold rgb(108, 209, 56);
//             }
           
//             .fa-search{
//                 height: 30px;
//                 width:30px;
//                 color:white;
//                 padding: 7px;
//                 background-color:rgb(108, 209, 56);
//             }
//         }
//         .add-items{
//             width: 15%;
//             display: flex;
//             border: 1px solid rgba(128, 128, 128, 0.103);
//             background-color: rgba(128, 128, 128, 0.103);
//             padding: 16px;
//             a{
//                 text-decoration: none;
//                 color:black;
//                 font-family:Georgia, 'Times New Roman', Times, serif;
//                 font-size: 12px;
//                 font-weight: 600;
                
//             }
//             .fa-shopping-basket{
//                 color:rgb(219, 50, 54);
//                 font-size: 28px;
//                 padding: 3px 7px 3px 10px;
//             }
//             .basket{
//                 padding-left: 5px;
//                 padding-top: 1px;
//                 line-height: 20px;
//             }
//         }
       
       
//     }
// }                     


.navbar{
    border-bottom:1px solid rgba(128, 128, 128, 0.432);
    box-shadow: 2px 2px 2px 2px whitesmoke;
    //padding: 10px 0px 10px 0px;
    width:100%;
	margin:0 auto;
	border:1px solid whitesmoke;
	top:0px;
	background-color:white;
	position:fixed;
	z-index:5;
    .header-container{
        width: 85%;
        margin: auto;
        // padding: 10px 0px;
        padding: 0 !important;
        .header{
            display: flex;
            flex-wrap: wrap;
            .header-image{
                width: 20%;
                padding-left: 10px;
                img{
                    border-radius: 10px;
                    margin-top: 5px;
                }
            }
            .header-content{
                width: 79%;
                display: flex;
                flex-wrap: wrap;
                .header-contact{
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    .header-contact-content{
                        display: flex;
                        .heaer-contact-icon{
                            padding: 0px 10px;
                            span{
                                font-size: 15px;
                            }
                        }
                    }
                }
                .header-search{
                    width: 80%;
                    margin-top: 13px;
                    .header-input{
                        width: 70%;
                        position: relative;
                        height: 100%;
                        input{
                            width: 100%;
                            padding: 6px 10px;
                            height: 100%;
                            border: 1px solid #88888879;
                        }
                        button{
                            background-color: #84c225;
                            color: white;
                            padding: 6px;
                            font-size: 15px;
                            border: none;
                            position: absolute;
                            top: 16%;
                            right: -7%;
                            i{
                                font-weight: 100;
                            }
                        }
                        
                    }
                }
                .header-buy{
                    width: 15%;
                    background-color: #f2f2f2;
                    align-items: center;
                    display: flex;
                    position: relative;
                    .fa-shopping-basket{
                        padding-left: 10px;
                    }
                    i{
                        color: #da251d;
                        font-size: 25px;
                    }
                    .header-icon-content{
                        padding-left: 20px;
                        p{
                            font-size: 13px;
                        }
                    }
                    .basket{
                        position: absolute;
                        right: 0;
                        top: 100%;
                        background-color: #f2f2f2;
                        width: 550px;
                        border: 1px solid lightgrey;
                        padding: 5px;
                        z-index: 1;
                        .basket-content{
                            overflow-y: auto;
                            max-height: 270px;
                            .basket-items{
                                padding: 5px;
                                .basket-item{
                                    padding: 5px;
                                    background-color: white;
                                    display: flex;
                                    .basket-image{
                                        width: 26%;
                                        border: 1px solid #f2f2f2;
                                        img{
                                            width: 100%;
                                        }
                                    }
                                    .basket-item-info{
                                        width: 45%;
                                        padding: 0px 10px;
                                        line-height:5px;
                                        h6{
                                            font-weight: 100;
                                            color: #666;
                                        }
                                        p{
                                            font-size: 13px;
                                            padding: 5px 0px;
                                        }
                                        span{
                                            color: gray;
                                            font-size: 10px;
                                        }
                                    }
                                    .basket-content-info{
                                        width: 43%;
                                        display: flex;
                                        justify-content: space-around;
                                        align-items: center;
                                        .basket-item-count{
                                            display: flex;
                                            margin-top: 10px;
                                            .basket-item-button{
                                                width: 13px;
                                                height: 30px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                border-radius: 50%;
                                                border: 1px solid #888;
                                                color: #888;
                                            }
                                            div{
                                                padding: 0px 8px;
                                                  p{
                                                        margin: 4px;
                                                }
                                            }
                                        }
                                        .baske-rate{
                                           p{
                                            margin-bottom: -1px;
                                            text-align: center;
                                            font-size: 14px;
                                           }
                                            span{
                                                color: #6DD139;
                                                font-size: 10px;
                                            }
                                        }
                                        .basket-remove{
                                            p{
                                                color: grey;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .basket-bill{
                            display: flex;
                            width: 97%;
                            .basket-bill-left{
                                width: 50%;
                                padding: 5px;
                                p{
                                    font-size: 10.5px;
                                    background-color: white;
                                    padding: 5px;
                                    text-align: center;
                                    i{
                                        font-size: 10px;
                                        color: #6DD139;
                                    }
                                }
                            }
                            .basket-bill-right{
                                width: 50%;
                                padding: 5px;
                                .basket-bill-content{
                                    background-color: white;
                                    padding: 5px 10px;
                                    div{
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 2px 0px;
                                        p{
                                            font-size: 14px;
                                        }
                                    }
                                }
                                .basket-bill-button{
                                    button{
                                        cursor: pointer;
                                        width: 100%;
                                        background-color: #6DD139;
                                        color: white;
                                        border: none;
                                        padding: 5px 0px;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .no-products{
                            padding: 30px 0px;
                            text-align: center;
                            background-color: white;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    
    
        .header-category{
            display: flex;
            width:97%;
            margin: 0 auto;
        }
        .category{
            width: 25%;
            // padding: 8px;
            padding: 8px;
            // height: 35px;
            h4{
                margin: 0 !important;
            }
        }
        .icon-empty{
            width: 60%;
            display: flex;
            border: 1px solid rgba(128, 128, 128, 0.514);
        }
        .tag-icon{
            width: 15%;
            border-bottom: 1px solid rgba(128, 128, 128, 0.514);
            border-top: 1px solid rgba(128, 128, 128, 0.514);
            a{
                span{
                    padding-left: 5px;
                }
            }
        }
        .tag-icon:hover{
            background-color:rgba(68, 134, 35, 0.829) ;
            border: 1px solid rgb(80, 165, 37);
            color:white;
            a{
                span{
                    padding-left: 5px;
                }
            }
            
        }
        .fa-tag{
            color:rgb(219, 50, 54);
            padding: 8px 0px 8px 25px;
        }
        .header-empty{
            border-bottom: 1px solid rgba(128, 128, 128, 0.514);
            border-top: 1px solid rgba(128, 128, 128, 0.514);
            border-right: 1px solid rgba(128, 128, 128, 0.514);
        }
        .header-empty{
            width:85%;
            // height:px;
        }
        .tag-icon a{
            text-decoration: none;
            color:black;
        }
        .category{
            background-color: rgb(108, 209, 56);
            border:1px solid rgb(108, 209, 56);
            color: white;
        }
    }
}


